
<div class="bg-lightgreen">
    <div class="container">
        <div class="row">

             <div class="col-3" *ngFor="let i of getDataCart()">
               <div class="card" >
                <img src="{{i.image}}" class="card-img-top img-responsive img-fluid"  alt="...">
                <div class="card-body bg-light">
                    <h5 class="card-title">{{i.name}}</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <b class="pri">{{(i.price*80)/100}}</b>
                    <b><del>{{i.price}}</del></b>
                    <p class="card-text a2">{{i.dis}}<span class="a12">discount</span></p>
                  <button class="btn btn-primary ss" (onclick)="addIteam(p)">this cart</button>
                </div>
               </div>  
             </div>
        </div>
     </div>
  </div> 