.ss {
	border: 1px solid #DDDDDD;
	background: #ffffff;
}
.ss:hover {
	border: none;
	background-image:url(F:\online\src\assets\images\beautieon1_14.png);

	height: auto;
}
.ss:active {
	border: none;
	background-image:url(F:\online\src\assets\images\beautieon1_14.png);
	height: auto;
}
.ss img {
	margin: 10px 0px 0px 25px;
}
.ss h5 {
	padding: 25px 0px 20px 50px;
	font-size: 15px;
}
.ss h5:hover {
	color: #ffffff;
}
.our-sec{
	background: #19eaaf ;
}

.our h3 {
	text-align: center;
	text-transform: capitalize;
	padding: 24px 0px 0px 0px;
	font-size: 35px;
}
.our b {
	color: #F83387;
	margin-right: 11px;
}
.our p {
	text-align: center;
	padding: 0px 66px;
}